<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-0pky">Name</th>
    <th class="tg-0pky"></th>
  </tr>
  <tr>
    <td class="tg-0pky">Synopsis/Syntax</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Description</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Example</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Echo</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">sp1a@rpi15:~ $ echo hello world</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">“Echoes” or repeats the phrase that is typed after echo.</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">sp1a@rpi15:~ $ echo hello world</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">hello world</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Date</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">sp1a@rpi15:~ $ date</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Prints the current date and time.</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">sp1a@rpi15:~ $ date</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Mon 03 Dec 2019 01:12:40 PM PST</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">hostname</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">sp1a@rpi15:~ $ hostname</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Prints the hostname</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">sp1a@rpi15:~ $ hostname</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">rpi15</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Arch</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">sp1a@rpi15:~ $ arch</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Prints machine hardware name</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">sp1a@rpi15:~ $ arch</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">armv71</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Uname -a</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">sp1a@rpi15:~ $ uname -a</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Prints all details of the unix name</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">sp1a@rp15i:~ $ uname -a</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Linux rpi15 4.19.75-v7+ #1270 SMP Tue Sep 24 18:45:11 BST 2019 armv7l GNU/Linux</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">History</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">History []</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Prints every single line inputted from the user.</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">If uname was inputted</td>
    <td class="tg-0pky">uname would be presented somewhere.</td>
  </tr>
  <tr>
    <td class="tg-0pky">W</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">w[]</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Prints all users using the computer and other metadata about them.</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">When there is one user logged on</td>
    <td class="tg-0pky">w would present the user and his connection information.</td>
  </tr>
  <tr>
    <td class="tg-0pky">Id</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">id[OPTION]... [USER]</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Print user and group information for the specified USER</td>
    <td class="tg-0pky">or (when USER omitted) for the current user</td>
  </tr>
  <tr>
    <td class="tg-0pky">Prints my uid</td>
    <td class="tg-0pky">and uid of groups.</td>
  </tr>
  <tr>
    <td class="tg-0pky">who</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Who [OPTION]..[FILE ARG1 ARG2]</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Who - show who is logged on</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Who with only me logged own shows my username</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Man</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Man [cmd]</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Provides a description of a command</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Man mkdir explains how you make a directory</td>
    <td class="tg-0pky"></td>
  </tr>
</table>
